@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:700');

$colors: (
  soft-blue: hsl(243, 86%, 85%),
  dark-blue: hsl(243, 87%, 12%),
  green: hsl(163, 95%, 43%),
  gray: hsl(0, 0%, 50%)
);

$heading: 'Raleway', sans-serif;
$body: 'Open Sans', sans-serif;