@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:700");
body {
  margin: 0;
}

main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "aa aa bb bb" "aa aa ee ee" "aa aa dd dd";
}

main .box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px;
}

main .box1 .box1-1 .logo {
  height: 25px;
}

main .box1 .box2-1 img {
  height: 22px;
  width: 22px;
  padding: 0 10px 0 10px;
}

main .box2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: aa;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#110a6d), color-stop(#413590), color-stop(#6a5fb3), color-stop(#928cd7), to(#bdbafa));
  background-image: linear-gradient(to left bottom, #110a6d, #413590, #6a5fb3, #928cd7, #bdbafa);
  height: 100vh;
  width: 47vw;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .box2 img {
  height: 45%;
}

main .box3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: ee;
  padding: 0 60px 0 60px;
}

main .box3 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
}

main .box3 p {
  font-family: "Open Sans", sans-serif;
  color: gray;
  font-size: 15px;
}

main .box5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: dd;
  padding: 0 60px 0 60px;
}

main .box5 h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

main .box5 form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .box5 form input[type="text"] {
  height: 45px;
  width: 63%;
  border: none;
  -webkit-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

main .box5 form button {
  margin-left: 20px;
  height: 45px;
  width: 30%;
  -webkit-box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 33px -9px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 4px;
  color: white;
  background: #05d69b;
  font-size: 15px;
  font-weight: 700;
}

main .box5 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 130px 0 0 60px;
  color: black;
  font-size: 14px;
}
/*# sourceMappingURL=styles.css.map */